@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  font-family: "Manrope" sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 80.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* body{
    overflow-x: hidden;
} */

.btn {
  padding: 10px 30px;
  background: #1f2132;
  border-radius: 31.5449px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.btn i {
  margin-left: 10px;
  color: darkorange;
  display: flex;
  align-items: center;
}

.btn:hover {
  color: #fff;
  background: #51525c;
}

.header {
  width: 100%;
  background: #ece0d6;
  /* margin: 0 200px; */
  /* border-bottom: 1px solid black; */
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 98%;
  position: absolute;
  top: 50px;
  border-bottom: solid black 1px;
}

.f-r {
  /* position: relative; */
  /* right:-35%; */
  float: right;
}

.f-r img {
  margin-left: 16px;
}

.navbar-text a,
.f-r a {
  text-decoration: none;
  color: black;
}

#menu-btn {
  display: none;
}

/* home */

.home {
  width: 100%;
  min-height: 120vh;
  background: #ece0d6;
}

#home-pic {
  overflow: hidden;
}

#home-pic img {
  width: 700px;
  height: auto;
  background-image: cover;
}

.home .row .box h1 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
}

.home .row .box p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.container {
  position: relative;
  top: 20vh;
}

/* home-footer */

.home-footer{
  margin-top: 200px;
}

.home-footer .box{
  width: 100%;
  min-height: 141px;
  background: #1F2132;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.home-footer .box .part{
  display: flex;
}

.home-footer .box .logo{
  width: 160px;
  height: 45px;
  background: #ece0d6;
}

.home-footer .box .logo:nth-child(3){
  width: 260px;
  height: 45px;
  background: #ece0d6;
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }

  section {
    padding: 2rem;
  }

  .f-r,
  .navbar-text img {
    display: none;
  }

  .header .navbar-text {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
  }

  .header .navbar-text.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar-text a {
    font-size: 1.5rem;
    margin: 2rem 2.5rem;
    display: block;
    text-align: center;
  }

  /* .header .navbar-text */
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

 .home-footer .part{
   flex-wrap: wrap;
   justify-content: center;
 }
 
 .home-footer .box{
   padding: 30px;
 }
 
 .home-footer .logo{
  margin-bottom: 10px;
 }
  
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }

  .heading {
    font-size: 2.5rem;
  }

  .footer {
    text-align: center;
  }
}
